.topnav {
    background-color: #3a489a    ;
    overflow: hidden;
    height: 100px;
    margin-bottom: 20px;
    border-radius: 0px 0px 40px 40px;
  }
  

  .topnav img{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
  }

  .topnav p{
    float: center;
    color: #ecd0d0;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 50px;
  }
  
  .profile_photo{
    width: 100px;
    border-radius: 50%;
   
  }

  .wrapper img{
    width: 200px;
  } 

html {
  scroll-behavior:smooth;
}

body {
  margin: 0;
  background-color:  #e0d6d6;
}

h1 {
    font-family: Arial;
    color: rgb(75, 22, 22);
    text-align: justify;
  }
.header{
    display: flex;
    align-items: baseline;
}
.header p a{
    text-decoration: none;
}

.item img{
  border-radius: 8px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3,100%);
  overflow:hidden;
  scroll-behavior:smooth;

  section {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(6, auto);
    margin: 20px 0;
    margin-left: 30px;
    
    .item {
      
      transition: duration all;
      
      &:hover { 
        margin: 0 40px;
        transform: scale(1.2);
      }
      
    }  
  }
}