<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us - Event Management System</title>
    <style>
      #backimage {
        height: 50px;
        width: 50px;

        position: absolute;
        top: 0;
        left: 0;
        margin: 10px;
      }

      h1 {
        text-align: center;
        text-decoration: underline;
      }

      h2 {
        text-align: center;
        text-decoration: underline;
      }

      body {
        text-align: center;
        background: linear-gradient(-45deg, #1ba3cd, #3093b1, #95bcca, #ffffff);
        background-size: 400% 400%;
        animation: gradient 6s ease infinite;
        margin: 0;
      }
      @keyframes gradient {
        0% {
          background-position: 0% 50%;
        }

        50% {
          background-position: 100% 50%;
        }

        100% {
          background-position: 0% 50%;
        }
      }

      .history {
        margin-top: 150px;
      }

      .Vision {
        margin-top: 150px;
      }

      .aboutus {
        margin-top: 50px;
      }
    </style>
  </head>

  <body>
    <div>
      <a href="/logo-home">
        <img id="backimage" src="/images/back.png" />
      </a>
    </div>
    <h1 class="aboutus">About Us</h1>
    <div class="content">
      <p class="Start">
        Ever felt overwhelmed by the sheer number of college fests happening
        around you? Struggling to keep track of dates, themes, registrations,
        and everything in between?<br />
        We feel you! <br />
        That's why we built this platform – your ultimate guide to college
        fests. We curate information on fests across different schools, bringing
        everything you need to know right at your fingertips. No more panic
        about missing a fest of your like or frantic searches – find all the
        details, from electrifying performances to mind-blowing workshops, in
        one convenient location. We're passionate about making your college
        experience vibrant and enriching. Explore diverse fests, discover hidden
        talents, and forge lasting memories. Let's turn that "fest frenzy" into
        a well-planned adventure!
      </p>
      <h2 class="Vision">Vision:</h2>
      <p>
        Our Vision is to provide the best platform for a student to get
        knowledge about all the fests and programs happening around them. We
        also strive to more student participation by giving them all the
        information on a single platform
      </p>

      <h2 class="history">History:</h2>
      <p>
        Christ Deemed To Be University is known for their academic excellence as
        well as diverse option for a student's extracurricular. But Due to
        Student's laziness to not check out their department's stalls or having
        to check their mail for information about all extracurriculars in their
        surrounding, student's have not been able to been able to know and
        participate in fests of their interests. This is when It was brought to
        attention of how a platform like BookMyFest is required, which can make
        it easy for hosts to spread information on the fests they are hosting
        and for students to get informed.
      </p>
    </div>
  </body>
</html>
