<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Event</title>
    <link rel="stylesheet" href="/styles/createEvent.css" />
  </head>

  <body>
    <div class="jeevan">
      <div>
        <a href="/admin-home">
          <img id="backimage" src="/images/back.png" />
        </a>
      </div>
      <form action="/create" method="post" enctype="multipart/form-data">
        <div class="container">
          <!-- <form action="/upload" method="post" enctype="multipart/form-data"> -->
          <div class="image">
            <input
              type="file"
              id="fileInput"
              name="poster"
              style="display: none"
            />
            <a href="#" onclick="document.getElementById('fileInput').click()">
              <img id="previewImage" src="/images/plus.png" alt="" />
            </a>
            <input type="submit" value="Create" class="button" />
          </div>
          <!-- </form> -->
          <div class="info">
            <div class="raone">
              <p>Name:</p>
              <input type="text" id="eventName" name="eventName" required />
            </div>
            <div class="raone">
              <p>Campus-wide</p>
              <div class="raone">
                <div class="raone-cont">
                  <div class="">
                    <label for="Yes">Yes</label>
                    <input
                      type="radio"
                      id="yesCampus"
                      name="campusWide"
                      value="1"
                      required
                    />
                  </div>
                  <div class="">
                    <label for="No">No</label>
                    <input
                      type="radio"
                      id="noCampus"
                      name="campusWide"
                      value="0"
                      required
                    />
                  </div>
                  <div class="tooltip">
                    <img src="/images/information.png" />
                    <span class="tooltiptext"
                      >Select YES if anyone can participate in the event.If NO
                      mention who can participate</span
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="raone">
              <p>Target Audience:</p>
              <input type="text" id="eventID" name="targeted" />
            </div>
            <div class="raone">
              <p>Start Date:</p>
              <input type="date" id="startDate" name="eventDate" required />
            </div>
            <div class="raone">
              <p>End Date:</p>
              <input type="date" id="endDate" name="endDate" required />
              <div class="error" id="dateError"></div>
              <div class="tooltip">
                <img src="/images/information.png" />
                <span class="tooltiptext"
                  >the end date should be same as start date for single-day
                  events</span
                >
              </div>
            </div>
            <div class="raone"></div>
            <div class="raone">
              <p>Event Time</p>
              <input type="time" id="eventTime" name="eventTime" />
            </div>
            <!-- <div class="raone">
              <label for="venue">Venue:</label>
              <div class="venue-cont">
                <select id="venue" name="venue">
                  <option value="">none</option>
                  <option value="main audi">main audi</option>
                  <option value="KE audi">KE audi</option>
                  <option value="Block 1 audi">Block 1 audi</option>
                  <option value="skyview">skyview</option>
                  <option value="other">other</option>
                </select>
                <div class="raone" style="gap: 10px; align-items: center">
                  <p id="venue2">OR</p>
                  <div class="tooltip">
                    <img src="/images/information.png" />
                    <span class="tooltiptext"
                      >select any venue or select OTHER and type in the
                      venue</span
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="raone">
              <p></p> -->
            <div class="raone">
              <p>Venue:</p>
              <input type="text" id="venueInput" name="venue" required />
            </div>
            <!-- 
            </div> -->
            <div class="raone">
              <p>Description:</p>
              <input type="text" id="desc" name="desc" required />
            </div>
            <div class="raone">
              <p>Registration:</p>
              <div class="raone">
                <div class="raone-cont">
                  <div class="">
                    <label for="yesRegistration">Yes</label>
                    <input
                      type="radio"
                      id="yesRegistration"
                      name="registration"
                      value="1"
                    />
                  </div>
                  <div class="">
                    <label for="noRegistration">No</label>
                    <input
                      type="radio"
                      id="noRegistration"
                      name="registration"
                      value="0"
                    />
                  </div>
                  <div class="tooltip">
                    <img src="/images/information.png" />
                    <span class="tooltiptext"
                      >Select YES if you want registration. You can also limit
                      the range for number of registration</span
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="raone">
              <p>Registration Range:</p>
              <input type="number" id="range" name="range" />
            </div>

            <div class="raone">
              <p>Google Form link:</p>
              <input type="url" id="formlink" name="formlink" />
            </div>
            <div class="raone">
              <p>Attendance:</p>
              <div class="raone">
                <div class="raone-cont">
                  <div class="">
                    <label for="yes">Yes</label>
                    <input
                      type="radio"
                      id="yesattendance"
                      name="attendance"
                      value="1"
                      required
                    />
                  </div>
                  <div class="">
                    <label for="No">No</label>
                    <input
                      type="radio"
                      id="noattendance"
                      name="attendance"
                      value="0"
                      required
                    />
                  </div>
                  <div class="tooltip">
                    <img src="/images/information.png" />
                    <span class="tooltiptext"
                      >Select YES if you will be providing claims for the
                      participants</span
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="raone">
              <label for="category">Category:</label>
              <select id="category" name="category">
                <option value="1">Dance</option>
                <option value="2">Theatre</option>
                <option value="3">Stage</option>
                <option value="4">Music</option>
                <option value="5">photography</option>
                <option value="6">Workshop</option>
                <option value="7">Quiz</option>
                <option value="8">Sports</option>
                <option value="9">Fests</option>
                <option value="10">Conference</option>
              </select>
            </div>
          </div>
        </div>
      </form>
    </div>
    <script>
      const dateError = document.getElementById("dateError");
      const startDateInput = document.getElementById("startDate");
      const endDateInput = document.getElementById("endDate");
      let endDateError = false;

      function previewImage(event) {
        var image = document.getElementById("previewImage");
        if (event.target.files && event.target.files[0]) {
          image.src = URL.createObjectURL(event.target.files[0]);
        }
      }

      document
        .getElementById("fileInput")
        .addEventListener("change", previewImage);

      function handleCampusWideChange() {
        var yesCampus = document.getElementById("yesCampus");
        var eventIDInput = document.getElementById("eventID");

        if (yesCampus.checked) {
          eventIDInput.disabled = true;
        } else {
          eventIDInput.disabled = false;
        }
      }

      document.querySelectorAll('input[name="campusWide"]').forEach((elem) => {
        elem.addEventListener("change", handleCampusWideChange);
      });

      function handleRegistrationChange() {
        var yesRegistration = document.getElementById("yesRegistration");
        var rangeInput = document.getElementById("range");
        var formInput = document.getElementById("formlink");

        if (yesRegistration.checked) {
          rangeInput.disabled = false;
          formInput.disabled = false;
        } else {
          rangeInput.disabled = true;
          formInput.disabled = true;
        }
      }

      document
        .querySelectorAll('input[name="registration"]')
        .forEach((elem) => {
          elem.addEventListener("change", handleRegistrationChange);
        });

      function handleVenueChange() {
        var venueSelect = document.getElementById("venue");
        var venueInput = document.getElementById("venueInput");

        if (venueSelect.value !== "other") {
          venueInput.disabled = true;
        } else {
          venueInput.disabled = false;
        }
      }

      document
        .getElementById("venue")
        .addEventListener("change", handleVenueChange);

      window.addEventListener("DOMContentLoaded", (event) => {
        startDateInput.valueAsDate = new Date();
      });

      endDateInput.addEventListener("change", function () {
        const startDate = new Date(startDateInput.value);
        const endDate = new Date(endDateInput.value);

        if (endDate < startDate) {
          endDateError = true;
        } else {
          endDateError = false;
        }
      });

      document
        .querySelector("form")
        .addEventListener("submit", function (event) {
          if (endDateError) {
            event.preventDefault();
            dateError.textContent =
              "End date must be greater than or equal to start date.";
          }
        });
      function formatDate(date) {
        const day = date.getDate().toString().padStart(2, "0");
        const month = (date.getMonth() + 1).toString().padStart(2, "0");
        const year = date.getFullYear();
        return `${day}-${month}-${year}`;
      }
    </script>
  </body>
</html>
