<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Event</title>
  <link rel="stylesheet" href="../public/styles/createEvent.css">
</head>

  <body>
    
    <div class="jeevan">
        <div>
          <a href="./admin.html">
          <img id="backimage" src="../public/images/back.png">
           </a>
        </div>
      <div class="container">
       <div class="image">
          <input type="file" id="fileInput" style="display: none;">
          <!-- Add an id to the img tag -->
          <a href="#" onclick="document.getElementById('fileInput').click()">
            <!-- Use the id to target the image -->
            <img id="previewImage" src="../public/images/plus.png" alt="">
          </a>
          <button>Create</button>
        </div>
      
        <div class="info">
          <div class="raone">
            <p>Name:</p>
            <input type="text" id="eventName" name="eventName" required />
          </div>
          <div class="raone">
            <p>Pan campus</p>
            <div class="raone">
              <div class="">
                <label for="Yes">Yes</label>
                <input type="radio" id="eventDate" name="eventDate" required />
              </div>
              <div class="">
                <label for="No">No</label>
                <input type="radio" id="eventDate" name="eventDate" required />
              </div>
            </div>
          </div>

        <div class="raone">
          <p>Host ID:</p>
          <input type="text" id="hostid" name="hostid" required>
        </div>

        <div class="raone">
          <p>
            Start Date:
          </p>
          <input type="date" id="eventDate" name="eventDate" required>
        </div>

          <div class="raone">
            <p>End Date:</p>

            <input type="date" id="endDate" name="endDate" required />
          </div>
          <div class="raone"></div>

          <div class="raone">
            <p>Event Time</p>
            <input type="time" id="eventTime" name="eventTime" required />
          </div>
          <div class="raone">
            <p>Venue</p>
            <input type="text" id="venue" name="venue" required />
          </div>
          <div class="raone">
            <p>Registration:</p>
            <div class="raone">
              <div class="">
                <label for="yes">Yes</label>
                <input
                  type="radio"
                  id="registration"
                  name="registration"
                  required
                />
              </div>
              <div class="">
                <label for="No">No</label>
                <input
                  type="radio"
                  id="registration"
                  name="registration"
                  required
                />
              </div>
            </div>
          </div>
          <div class="raone">
            <p>Range:</p>
            <input type="number" id="range" name="range" />
          </div>
          <div class="raone"> 
            <p>Link to Form</p>
            <input type="url" id="formlink" name="formlink" />
          </div>

          <div class="raone">
            <p>Attendance:</p>
            <div class="raone">
              <div class="">
                <label for="yes">Yes</label>
                <input
                  type="radio"
                  id="attendance"
                  name="attendance"
                  required
                />
              </div>
              <div class="">
                <label for="No">No</label>
                <input
                  type="radio"
                  id="attendance"
                  name="attendance"
                  required
                />
              </div>
            </div>
          </div>
          <div class="raone">
            
            <label for="category">Category:</label>
            <select id="category" name="category">
              <option value="dance">dance</option>
              <option value="theatre">theatre</option>
              <option value="quiz">quiz</option>
              <option value="fest">fest</option>

            </select>
          </div>
          <div class="raone">
            <p>Sub-events:</p>
            <div class="raone">
              <div class="">
                <label for="yes">Yes</label>
                <input
                  type="radio"
                  id="subevents"
                  name="subevents"
                  required
                />
              </div>
              <div class="">
                <label for="No">No</label>
                <input
                  type="radio"
                  id="subevents"
                  name="subevents"
                  required
                />
              </div>
            </div>
              </div>
              <div class="raone">
              
                        <p>No. of sub-events:</p>
                <input type="number" id="nosubevents" name="nosubevents">
                
          
              </div>
              <div class="raone">
                <p>Add sub-events</p>
                 <a href="./createEvent.html">
                <input type="button" id="subevents" name="subevents" value="Add" />
                 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
