<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Event Information</title>
  <link rel="stylesheet" href="/styles/event.css" />
</head>

  <body>
    
      <div>
        <a href="/logo-home">
          <img id="backimage" src="/images/back.png" />
        </a>
      </div>
    
  </div>
  <div class="jeevan">
    <h1>Event Name</h1>
    <div class="container">
      <div class="image image-div">
        <img src="/images/Firefly 20231219114851.png" alt="Event Image" class="image" />
        <button>Register</button>
      </div>
      <div class="info">
        <p>host:</p>
        <p>Campus Wide:</p>
        <p>For:</p>
        <p>date:</p>
        <p>Time:</p>
        <p>Venue:</p>
        <p>description:</p>
        <p>attendence:</p>
      </div>
      <div class="results">
        <p>lkdscm</p>
        <p>jljwnkdew</p>
        <p>nwccwwccwcwccw</p>
        <p>lkdscm</p>
        <p>jljwnkdew</p>
        <p>nwccwwccwcwccw</p>
        <p>nwccwwccwcwccw</p>
        <p>nwccwwccwcwccw</p>

      </div>
    </div>
  </div>

  <footer>
    <address>
      CONTACT US <br />+91 1234567890 <br />mail@christuniversity.in
    </address>
    <div class="inside">
      <a href="christuniversity.in" class="site">christuniversity.in</a>
    </div>
    <p>PRIVACY POLICY</p>
  </footer>
</body>

</html>