<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Event Information</title>
    <link rel="stylesheet" href="/public/styles/event.css" />
  </head>

  <body>
    <div class="topnav">
      <div id="title">
        <a href="./home.ejs">
          <img src="../public/images/BookMyShow.png" alt="image" />
        </a>
      </div>
      <div class="profile-image">
        <img
          src="../public/images/Firefly 20231219114851.png"
          alt="Profile Image"
          class="profile_photo"
        />
        <div class="options">
          <a href="./profile.html">Profile</a>
          <a href="./aboutus.ejs">About</a>
          <a href="./login.html">Logout</a>
        </div>
      </div>
    </div>
    <div class="jeevan">
      <div class="container">
        <div class="image image-div">
          <img
            src="../public/images/Firefly 20231219114851.png"
            alt="Event Image"
            class="image"
          />
          <button>Register</button>
        </div>
        <div class="info">
          <h1>Event Name</h1>
          <p>Organised by:</p>
          <p>Pan campus/Audience:</p>
          <p>Category:</p>
          <p>Date:</p>
          <p>Time:</p>
          <p>Venue:</p>
          <p>Description:</p>
          <p>Attendance:</p>
          <div class="seesubevents">
            <a href="./school.ejs">
              <input type="button" id="seesubevents" name="seesubevents" value="Sub-Events">
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <address>
        CONTACT US <br />+91 1234567890 <br />mail@christuniversity.in
      </address>
      <div class="inside">
        <a href="christuniversity.in" class="site">christuniversity.in</a>
      </div>
      <p>PRIVACY POLICY</p>
    </footer>
  </body>
</html>
