<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Event Information</title>
    <link rel="stylesheet" href="/styles/event.css" />
  </head>

  <body>
    <div class="jeevan">
      <div>
        <a href="./admin.html">
          <img id="backimage" src="../public/images/back.png" />
        </a>
      </div>
      <div class="container">
        <div class="image image-div">
          <img
            src="/images/Firefly 20231219114851.png"
            alt="Event Image"
            class="image"
          />
          <button>Register</button>
        </div>
        <div class="info">
          <h1>Event Name</h1>
          <p>host:</p>
          <p>pan campus:</p>
          <p>audience:</p>
          <p>date:</p>
          <p>Time:</p>
          <p>Venue:</p>
          <p>description:</p>

          <p>attendence:</p>
        </div>
      </div>
    </div>

    <footer>
      <address>
        CONTACT US <br />+91 1234567890 <br />mail@christuniversity.in
      </address>
      <div class="inside">
        <a href="christuniversity.in" class="site">christuniversity.in</a>
      </div>
      <p>PRIVACY POLICY</p>
    </footer>
  </body>
</html>
