<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>profile</title>
    <link rel="stylesheet" href="/styles/profile.css" />
  </head>

  <body>
    <div class="topnav">
      <div id="title">
        <a href="/logo-home"
          ><img src="/images/BookMyShow.png" alt="image"
        /></a>
      </div>
      <div class="profile-image">
        <img
          src="/images/Firefly 20231219114851.png"
          alt="Profile Image"
          class="profile_photo"
        />
        <div class="options">
          <a href="/about">About</a>
          <a href="/">Logout</a>
        </div>
      </div>
    </div>
    <div class="welcome">
      <div class="user-image">
        <img src="/images/Firefly 20231219114851.png" alt="" />
      </div>
      <div class="user-info">
        <h1>Welcome User</h1>
      </div>
    </div>

    <div class="header">
      <h1>Upcoming Events</h1>
      <p><a href="">see more</a></p>
    </div>
    <div class="wrapper">
      <section id="section1">
        <div class="item">
          <img src="/images/Firefly 20231219114851.png" alt="Describe Image" />
          <p>Event Name</p>
        </div>
        <div class="item">
          <img src="/images/Firefly 20231219114851.png" alt="Describe Image" />
          <p>Event Name</p>
        </div>
        <div class="item">
          <img src="/images/Firefly 20231219114851.png" alt="Describe Image" />
          <p>Event Name</p>
        </div>
        <div class="item">
          <img src="/images/Firefly 20231219114851.png" alt="Describe Image" />
          <p>Event Name</p>
        </div>
        <div class="item">
          <img src="/images/Firefly 20231219114851.png" alt="Describe Image" />
          <p>Event Name</p>
        </div>
      </section>
    </div>

    <div class="header">
      <h1>Past Events</h1>
      <p><a href="">see more</a></p>
    </div>
    <div class="wrapper">
      <section id="section1">
        <div class="item">
          <img src="/images/Firefly 20231219114851.png" alt="Describe Image" />
          <p>Event Name</p>
        </div>
        <div class="item">
          <img src="/images/Firefly 20231219114851.png" alt="Describe Image" />
          <p>Event Name</p>
        </div>
        <div class="item">
          <img src="/images/Firefly 20231219114851.png" alt="Describe Image" />
          <p>Event Name</p>
        </div>
        <div class="item">
          <img src="/images/Firefly 20231219114851.png" alt="Describe Image" />
          <p>Event Name</p>
        </div>
        <div class="item">
          <img src="/images/Firefly 20231219114851.png" alt="Describe Image" />
          <p>Event Name</p>
        </div>
      </section>
    </div>
    <footer>
      <div>+91 1234567890 <br />mail@christuniversity.in</div>
      <div>
        <a href="https://christuniversity.in/" id="link">christuniversity.in</a>
      </div>
      <div>PRIVACY POLICY</div>
    </footer>
  </body>
</html>
