body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #3093b1;
    font-family: Helvetica, sans-serif;

    background: linear-gradient(-45deg, #1ba3cd, #3093b1, #95bcca, #ffffff);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.container {
    background-color: #ffff;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 60%;
    height: 50%;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 30px;

}

.image {
    text-align: center;
    width: 280px;
    height: 350px;
    border-radius: 8px;

    button {
        background-color: #3093b1;
        border: 0;
        color: #ffff;
        font-size: 1.2em;
        cursor: pointer;
        border-radius: 8px;
        padding: 5px;
    }
}