.topnav {
    background-color: #021479    ;
    overflow: hidden;
    height: 100px;
    margin-bottom: 20px;
    border-radius: 0px 0px 40px 40px;
  }
  

  .topnav img{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
  }

  #title{
    font-family: 'Montserrat', serif;
    font-weight: 100;
    float: center;
    color: #ecd0d0;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 50px;
  }

  .header p{
    
  }
  
  .profile_photo{
    width: 100px;
    border-radius: 50%;
   
  }

  .wrapper img{
    width: 200px;
  } 

html {
  scroll-behavior:smooth;
}

body {
  margin: 0;
  background-color:  #e0d6d6;
}

h1 {
  font-family: 'Noto Serif', serif;
  font-weight: 100;
    color: rgb(32, 107, 171);
    text-align: justify;
  }
.header{
    display: flex;
    position: relative;
    align-items: baseline;
    h1{
      margin-left: 2rem;
    }
}
.header p a{
  position: absolute;
    right: 0;
    font-weight: 600;
    text-decoration: none;
    margin-right: 7rem;
}

.item img{
  border-radius: 8px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3,100%);
  overflow:hidden;
  scroll-behavior:smooth;

  section {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(6, auto);
    margin: 20px 0;
    margin-left: 30px;
    
    .item {
      transition: duration all;
      
      &:hover { 
        margin: 0 40px; 
        transform: scale(1.2);
      }
      
    }  
  }
}

.schoolbtn{
  padding: 2rem;
  
}
.button-63 {
  margin-bottom: 1rem;
  align-items: center;
  background-image: linear-gradient(144deg, #2814a5 50%,#1eb5bd);
  border: 0;
  border-radius: 8px;
  display: flex;
  box-shadow: rgba(151, 65, 252, 0.2);
  box-sizing: border-box;
  color: #FFFFFF;
  font-family: Phantomsans, sans-serif;
  font-size: 1.56rem;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 10px 20px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-63:active,
.button-63:hover {
  outline: 0;
}
