.topnav {
  background-color: #1c738e    ;
  overflow: hidden;
  height: 70px;
  margin-bottom: 20px;
  /* border-radius: 0px 0px 40px 40px; */
}


  .topnav img{
    float: right;
    color: #ffffff;
    text-align: center;
    width: 4rem;
    margin-left: 1rem;
    text-decoration: none;
    
  }
  .profile_photo{
    width: 100px;
    border-radius: 50%;
   
  }
  #title{
    font-family: Helvetica, sans-serif;
    font-weight: 100;
    float: center;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-size: 50px;
  }
  
  .wrapper img{
    width: 200px;
  } 

html {
  scroll-behavior:smooth;
}

body {
  margin: 0;
  background-color:  #e0d6d6;
}
h1 {
    font-family: 'Noto Serif', serif;
    font-weight: 100;
      color: rgb(32, 107, 171);
      text-align: justify;
    }
.header{
    display: flex;
    position: relative;
    align-items: baseline;
    h1{
      margin-left: 2rem;
    }
}

.container{
  display: grid;
  grid-template-columns: 279px auto;
  grid-template-rows: 295px auto;
  gap: 1.5rem;
}

.event img{
  border-radius: 8%;
  width: 279px;
    height: 295px 
}
.eventname {
  font-size: 2rem;
  p{
    line-height: 1.4;
    letter-spacing: .05em;
    font-size: 1.5rem;
  }
}