body {
  margin: 0;
}
.topnav {
  display: flex;
  background-color: #1c738e;
  height: 70px;
  justify-content: space-between;
  align-items: center;

  a {
    color: #ffffff;
    margin-left: auto;
    margin-right: 2rem;
    text-decoration: solid;
  }
}

#title {
  padding-left: 37rem;
  padding-top: 0.5rem;
  font-family: Helvetica, sans-serif;
  font-weight: 600;
  color: #ffffff;
  margin: 0;
  font-size: 50px;

  img {
    width: 23rem;
  }
}

.profile_photo {
  width: 100px;
  border-radius: 50%;
  float: right;
  color: #f2f2f2;
  width: 4rem;
  margin-right: 2rem;
  text-decoration: none;
  cursor: pointer;
}

.profile-image {
  position: relative;
  cursor: pointer;
}

.options {
  display: none;
  position: absolute;

  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;

  border-radius: 5px;
  z-index: 1;
}

.options a {
  display: block;
  text-decoration: none;
  color: #333;
  padding: 8px;
  transition: background-color 0.3s;
}

.options a:hover {
  background-color: #f0f0f0;
}

.profile-image:hover .options {
  display: block;
}

.jeevan {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #3093b1;
  font-family: Helvetica, sans-serif;

  background: linear-gradient(-45deg, #1ba3cd, #3093b1, #95bcca, #ffffff);
  background-size: 400% 400%;
  animation: gradient 6s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.container {
  background-color: #ffff;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 30px;
}

.image {
  text-align: center;
  width: 280px;
  height: 350px;
  border-radius: 8px;

  button {
    background-color: #3093b1;
    border: 0;
    color: #ffff;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 8px;
    padding: 5px;
  }
}

.raone-cont {
  display: flex;
  gap: 10px;
  align-items: center;
}

.raone {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 4px;
  p {
    margin: 0;
    padding: 1px;
  }
}

footer {
  background-color: #1c738e;
  display: flex;
  justify-content: space-around;
  color: #ffffff;
  font-family: Helvetica, sans-serif;
  */ p {
    padding-top: 1rem;
  }
}
.site {
  color: #ffffff;
  text-decoration: none;
}

address {
  text-align: center;
  margin: 0;
  padding: 0.8rem;
}

.inside {
  text-align: center;
  padding-top: 1rem;
}
#venue2 {
  margin-top: 0;
  margin-bottom: 0;
}

.image {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.image img {
  height: 200px;
  width: 200px;
}

#backimage {
  height: 50px;
  width: 50px;

  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
.tooltip img {
  height: 15px;
}

.venue-cont {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.venue-cont select {
  width: 100%;
}
