<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Event Information</title>
  <link rel="stylesheet" href="/public/event.css">
</head>

<body>
  <div class="container">
    <div class="image-container">
      <img src="../images/Firefly 20231219114851.png" alt="Event Image" class="image">\
    </div>
    <div >
      <h1 class="eventname">this is event</h1>
      <div class="eventdesc">
        <label for="eventdesc">Event description</label>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
          standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
          make a type specimen book
        </p>
      </div>
    </div>

  </div>
  <a href="#" class="register-btn">Register Now</a>
  </div>
</body>

</html>