<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Event Information</title>
  <link rel="stylesheet" href="/public/event.css">
</head>

<body>
  <div class="topnav">
    <div id="title">
      <img src="../public/images/BookMyShow (5) (1) (1).png" alt="image">
    </div>
    <a href="">Home</a>
    <div class="profile-image">
      <img src="../public/images/Firefly 20231219114851.png" alt="Profile Image" class="profile_photo">
      <div class="options">
        <a href="./profile.html">Profile</a>
        <a href="">About</a>
        <a href="./login.html">Logout</a>
      </div>
    </div>
  </div>
  <div class="jeevan">

    <div class="container">
      <div class="image image-div">
        <img src="../public/images/Firefly 20231219114851.png" alt="Event Image" class="image">
        <button>Register Now</button>
      </div>
      <div class="info">
        <h1>Event Name</h1>
        <p>Event host:</p>

        <p>Event date:</p>
        <p>
          Event Time:
        </p>

        <p>Event Venue:</p>
        <p>
          Event description:
        </p>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's
          standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
          make a type specimen book
        </p>
        <p>
          attendence:
        </p>

      </div>
    </div>
  </div>
</body>

</html>