<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lemon&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../public/home.css">
  <title>BookMyFest</title>
</head>

<body>
  <div class="topnav">
    <img src="../images/Firefly 20231219114851.png" alt="profile" class="profile_photo">
    <p id="title">
      BookMyFest
    </p>
    <p>aDAD</p>

  </div>
  <div class="header">
    <h1>Campus Events</h1>
    <p><a href="">see more</a></p>
  </div>
  <div class="wrapper">

    <section id="section1">

      <div class="item">
        <img src="../images/Firefly 20231219114851.png" alt="Describe Image">
        <p>Event Name</p>
      </div>
      <div class="item">
        <img src="../images/Firefly 20231219114851.png" alt="Describe Image">
        <p>Event Name</p>
      </div>
      <div class="item">
        <img src="../images/Firefly 20231219114851.png" alt="Describe Image">
        <p>Event Name</p>
      </div>
      <div class="item">
        <img src="../images/Firefly 20231219114851.png" alt="Describe Image">
        <p>Event Name</p>
      </div>
      <div class="item">
        <img src="../images/Firefly 20231219114851.png" alt="Describe Image">
        <p>Event Name</p>
      </div>

    </section>


  </div>

  <div class="header">
    <h1>School of </h1>
    <p><a href="">see more</a></p>
  </div>
  <div class="wrapper">

    <section id="section1">

      <div class="item">
        <img src="../images/Firefly 20231219114851.png" alt="Describe Image">
        <p>Event Name</p>
      </div>
      <div class="item">
        <img src="../images/Firefly 20231219114851.png" alt="Describe Image">
        <p>Event Name</p>
      </div>
      <div class="item">
        <img src="../images/Firefly 20231219114851.png" alt="Describe Image">
        <p>Event Name</p>
      </div>
      <div class="item">
        <img src="../images/Firefly 20231219114851.png" alt="Describe Image">
        <p>Event Name</p>
      </div>
      <div class="item">
        <img src="../images/Firefly 20231219114851.png" alt="Describe Image">
        <p>Event Name</p>
      </div>

    </section>

  </div>

  <div class="header">
    <h1>visit school of </h1>
  </div>
  <div class="schoolbtn">
    <button class="button-63" role="button">Architecture</button>
    <button class="button-63" role="button">Arts and Humanities</button>
    <button class="button-63" role="button">Business and Management</button>
    <button class="button-63" role="button">Commerce, Finance and Accountancy</button>
    <button class="button-63" role="button">Education</button>
    <button class="button-63" role="button">Law</button>
    <button class="button-63" role="button">Sciences</button>
    <button class="button-63" role="button">Social Sciences</button>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>

</html>