<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>profile</title>
  <link rel="stylesheet" href="/public/profile.css">
</head>

<body>
  <div class="topnav">
    <div id="title">
      <img src="/images/BookMyShow (5) (1) (1).png" alt="image">
    </div>
    <a href="">about</a>
    <div class="profile-image">
      <img src="/images/Firefly 20231219114851.png" alt="Profile Image" class="profile_photo">
      <div class="options">
        <a href="/view/home.html">Home</a>
        <a href="#">LogOut</a>
      </div>
    </div>

  </div>
  <div class="welcome">
    <div class="user-image">
      <img src="/images/Firefly 20231219114851.png" alt="">
    </div>
    <div class="user-info">
      <h1>Welcome User</h1>
    </div>
  </div>


  <div class="header">
    <h1>Upcoming Events</h1>
    <p><a href="">see more</a></p>
  </div>
  <div class="wrapper">

    <section id="section1">

      <div class="item">
        <img src="../images/Firefly 20231219114851.png" alt="Describe Image">
        <p>Event Name</p>
      </div>
      <div class="item">
        <img src="../images/Firefly 20231219114851.png" alt="Describe Image">
        <p>Event Name</p>
      </div>
      <div class="item">
        <img src="../images/Firefly 20231219114851.png" alt="Describe Image">
        <p>Event Name</p>
      </div>
      <div class="item">
        <img src="../images/Firefly 20231219114851.png" alt="Describe Image">
        <p>Event Name</p>
      </div>
      <div class="item">
        <img src="../images/Firefly 20231219114851.png" alt="Describe Image">
        <p>Event Name</p>
      </div>

    </section>


  </div>

  <div class="header">
    <h1>Past Events </h1>
    <p><a href="">see more</a></p>
  </div>
  <div class="wrapper">

    <section id="section1">

      <div class="item">
        <img src="../images/Firefly 20231219114851.png" alt="Describe Image">
        <p>Event Name</p>
      </div>
      <div class="item">
        <img src="../images/Firefly 20231219114851.png" alt="Describe Image">
        <p>Event Name</p>
      </div>
      <div class="item">
        <img src="../images/Firefly 20231219114851.png" alt="Describe Image">
        <p>Event Name</p>
      </div>
      <div class="item">
        <img src="../images/Firefly 20231219114851.png" alt="Describe Image">
        <p>Event Name</p>
      </div>
      <div class="item">
        <img src="../images/Firefly 20231219114851.png" alt="Describe Image">
        <p>Event Name</p>
      </div>

    </section>

  </div>
  <footer>
    <address>
      CONTACT US <br>+91 1234567890 <br>mail@christuniversity.in
    </address>
    <div>
      <h3>web site</h3>
      <a href="christuniversity.in">christuniversity.in</a>
    </div>
    <p>PRIVACY POLICY</p>
  </footer>

</body>

</html>